{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Betta FIsh</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<a href="{% url 'home' %}">back</a>
	<h2>Clown Fish Facts</h2>
	Best known for being featured in the movies “Finding Nemo” and “Finding Dory,” the clownfish has become a popular aquarium pet. Nemo and his dad, Marlin, are ocellaris clownfish, also called false clownfish or clown anemonefish. Anemonefish are so-named for the sea anemones in which they make their homes. There are 28 species of anemonefish, and they come in many colors, such as pink, red, yellow, black, brown and multi-colored stripes. 

	<h2>Size and Distribution</h2>
	Most false clownfish are orange with three white bands on the head and body. The white bands are outlined in black. Their bodies are a bit more than 3 inches (88 millimeters) long on average, but they may grow up to 4 inches (110 mm), according to the Animal Diversity Web (ADW). The tail is rounded and the dorsal fin is lined with 11 spines. 

	False clownfish live in the coral reefs off the coasts of Australia and Southeast Asia as far north as southern Japan. They are found mainly around certain kinds of anemones, a creature that anchors itself to the sea floor and uses its tentacles to attract food. The anemone's tentacles have stinging cells called nematocysts that release a toxin when prey or predator touches it. 
	<br></br>
	<div class="container">
		<div class="row">
			<div class="col">
				<img src="{% static 'fishmain/img/clown_fish1.jpg' %}" width="500" height="400">
			</div>
			<div class="col">
				<img src="{% static 'fishmain/img/clown_fish2.jpg' %}" width="500" height="400">
			</div>
		</div>
	</div>
	<br></br>
	<h2>Habits</h2>
	All anemonefish, including clownfish, are hermaphrodites. They are all born male, according to National Geographic. They have the ability to turn themselves female, but once the change is made, they can’t go back to being male. Sometimes the change is made when mating. Two males will become mates and the larger, dominant fish will become the female.

	These social fish live in groups that are led by one dominant female, according to the ADW. The second largest fish is the dominant male while all of the other fish in the group are smaller males. If the female dies, the dominant male will become a female to replace her. The largest of the smaller males will then become the dominant male of the group. 
	
	<h2>Conservation status</h2>
	Ocellaris clownfish are not endangered. However, in the last generation, 15 to 30 percent of the world's reefs have been lost, according to the ADW. Some of the destruction has been caused by fishermen catching clownfish to sell as pets. 

	According to National Geographic, since “Finding Nemo” premiered clownfish sales have tripled. Conservationists are concerned about the "Nemo Effect," as some areas are overfished to meet the demand for these popular aquarium fish. Also, according to the Aquarium Welfare Association (AWA), many people bought the clownfish without knowing how to properly care for them. Inspired by a line in the movie, hundreds of children flushed their clownfish down the toilet in the hope of setting them free. 

	<h2>Clown Fish Habitat and Care</h2>                  
	Clownfish, however, develop immunity to the toxin by very carefully touching the tentacles with different parts of their bodies, according to National Geographic. A layer of mucus builds up, protecting the clownfish from the toxin. The pair forms a symbiotic relationship. The anemone provides protection and leftovers for the clownfish, while the clownfish brings food to the anemone and preens its host, removing parasites. 

	<h2>Diet</h2>
	Clownfish are omnivores, which means they eat meat and plants. They typically eat algae, zooplankton, worms and small crustaceans, according to the National Aquarium. 

	When small, the fish tend to stay within the confines of their anemone host. As they get larger, they will seek out food, though they don't venture much more than a few meters from the anemone, according to the ADW.

</body>
</html>