{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Betta FIsh</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<a href="{% url 'home' %}">back</a>
	<h2>Gourami Fish Facts</h2>
	The pearl gourami is not only one of the most attractive gouramis, but also one of the hardiest and easiest to keep. It is a labyrinth fish, meaning that it is able to breathe by gulping air at the surface of the tank. Like some other labyrinth fish, the pearl gourami can actually vocalize; don't be surprised if you hear your pet "talking" with growling or croaking noises, especially when breeding or fighting. 

	<h2>Origin and Distribution</h2>
	This species originates in Thailand, Malaysia, and the islands of Borneo and Sumatra. They prefer acidic water found in lowland swamps near the sea. Some pearl gouramis have been introduced to Singapore and Colombia. It's rare to find wild pearl gourami for sale as an aquarium fish as most are bred in captivity. 

	The International Union for Conservation of Nature (IUCN) Red List of Threatened Species lists the status of this species as Near Threatened due to damming and water management use, modifications of its natural ecosystems due to logging, and direct harvesting of the wild populations of this fish.
	<br></br>
	<div class="container">
		<div class="row">
			<div class="col">
				<img src="{% static 'fishmain/img/gourami1.jpg' %}" width="500" height="400">
			</div>
			<div class="col">
				<img src="{% static 'fishmain/img/gourami2.jpg' %}" width="500" height="400">
			</div>
		</div>
	</div>
	<br></br>
	<h2>Colors and Markings</h2>
	Like others in its family, the body shape is elongated and laterally compressed. The ventral fins are long and thin, and they have the appearance of long feelers. The mouth is small and upturned. Pearl and brown flecks covering the body give it a mother of pearl appearance, from which it derives its name. A horizontal black line runs from the mouth to the tail, where it ends in a spot.
	
	<h2>Tankmates</h2>
	Pearl gourami are generally peaceful fish that do well in a tank community; however, avoid keeping them with overly aggressive tankmates. There are a few exceptions to this rule: The males, in particular, may be aggressive to others of the same species (or other gouramis in general). It is best to keep these fish with others of about the same size and temperament; they can also live happily with other small schooling fish. If you are keeping several pearl gouramis, a good grouping includes one male and several females. 

	<h2>Pearl Gourami Habitat and Care</h2>                  
	Accustomed to heavy vegetation in their natural habitat, pearl gouramis will thrive if given similar conditions in the aquarium. Floating plants, subdued lighting, and a dark substrate are ideal. Although they prefer soft, acidic water, they are adaptable to a range of water conditions. This adaptability and their peaceful nature make them well suited to community tanks.

	<h2>Pearl Gourami Diet and Feeding</h2>
	Pearl gouramis will accept many foods and are generally quite easy to feed. Flake, freeze-dried, and frozen foods are all readily taken. For optimum health, offer fresh vegetables such as lettuce, cooked peas, and spinach as part of a varied diet. Live foods such as blackworms, brine shrimp, and glass worms are a good treat and should be used when conditioning fish for breeding.

</body>
</html>