{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Betta FIsh</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<a href="{% url 'home' %}">back</a>
	<h2>Neon Tetra Fish Facts</h2>
	The dazzling crown jewel of aquariums everywhere, the hardy little neon tetra fish was originally imported from South America. Their popularity resulted in a thriving captive breeding trade in Hong Kong, Singapore, and Thailand. More than 1.5 million neon tetras are imported each month to the United States. Less than 5 percent of neon tetras sold for aquariums are wild-caught specimens from South America. 

	<h2>Origin and Distribution</h2>
	Neon tetras originated from the clear water and blackwater streams and tributaries in the Orinoco and Amazon river basins in Brazil, Columbia, and Peru. These are regions of blackwaters beneath dense forest canopies that allow very little light to get through. Neon tetras live in shoals mainly in the middle water layers and feed on worms and small crustaceans. 

	Neon tetras are generally all captive-bred, with most coming from the Far East and Eastern Europe. Several varieties of captive-bred specimens are now available. These include the long-finned neon tetra, though it is rather rare, as well as a golden strain that is basically a semi-albino variety, and a diamond neon tetra that appears sprinkled with metallic scales along the top portion of the body.
	<br></br>
	<div class="container">
		<div class="row">
			<div class="col">
				<img src="{% static 'fishmain/img/neon_tetra1.jpg' %}" width="500" height="400">
			</div>
			<div class="col">
				<img src="{% static 'fishmain/img/neon_tetra2.jpg' %}" width="500" height="400">
			</div>
		</div>
	</div>
	<br></br>
	<h2>Colors and Markings</h2>
	The neon tetra has a slender torpedo-shaped body that reaches no more than an inch and a half in length. What this fish lacks in size, it makes up for in color. From the tip of its nose to the adipose fin, the neon tetra has a bright neon blue stripe. It is believed this bright stripe makes them more readily visible to each other in blackwater conditions.

	Below the blue stripe, the neon tetra sports a white-silver belly. Past the belly, a bright red stripe extends all the way to the tail. The striking red, white, and blue combination makes the neon tetra one of the most popular of all aquarium fish. It is rivaled only by its cousin, the cardinal tetra, for which it is often mistaken. The key difference between the two fish is the red stripe. In the neon tetra, it only extends from the middle of the body to the tail. In the cardinal tetra, the red stripe runs the entire length of the fish, from snout to tail.

	Like other colorful fish, the bright colors of the neon tetra will fade at night when it is resting, when it becomes alarmed or when it is ill. At the pet store, choose specimens that are active and robustly colored, as faded colors can be an indication of poor health.
	
	<h2>Tankmates</h2>
	Always keep neon tetras in schools of a half dozen or more as they are a shoaling species that requires the presence of others of their kind. Neon tetras do well in a community tank as long as the other species are not large or aggressive. Small peaceful fish such as rasboras, small tetras, dwarf gouramis, as well as corys and other small catfish are good choices as companions. Avoid larger tetras, as they will eat neon tetras at the first opportunity. The rule of thumb is, if the mouth of the fish opens large enough to swallow the neon, they will do it sooner or later.

	<h2>Neon Tetra Habitat and Care</h2>                  
	Newly set up tanks are not suitable for neon tetras as they will not tolerate changes that occur during the initial startup cycle. Only add neon tetras when your tank is fully mature and has stable water chemistry. Water should be soft and acidic for neon tetras, meaning a pH that is not above 7.0 and hardness of no more than 10 dGH. Blackwater extracts or driftwood are often used to darken the water, maintain an acidic pH, and soften the water.

	<h2>Neon Tetra Diet and Feeding</h2>
	Neon tetras are omnivores, meaning that they will eat both plant and animal material. Fine flake food, small granules, live or frozen brine shrimp or daphnia, and frozen or freeze-dried bloodworms are all good food choices. Offer a variety of food, including live foods, to ensure good health.

</body>
</html>